In [130]:
import pandas as pd
import numpy as np
import re
from sklearn.preprocessing import OneHotEncoder

ModuleNotFoundError: No module named 'sklearn'

***Bangalore City Cars***

In [3]:
#df = glob.glob(os.path.join('../cleaned_data/bangalore.xlsx'))
df= pd.read_excel('../cleaned_data/bangalore_cars_cleaned.xlsx')

In [4]:
df.dtypes

Insurance_Validity_Period           object
Fuel_Type                           object
Number_of_Seats                     object
Regional_Transport_Office           object
Transmission_Type                   object
Top_Features                        object
Comfort_and_Convenience             object
Interior_Features                   object
Exterior_Features                   object
Safety_Features                     object
Entertainment_and_Communication     object
Mileage_(km/l)                      object
Engine_Capacity                     object
Maximum_Power                       object
Torque                              object
Wheel_Size                          object
Battery_Type                        object
Kilometers_Driven                   object
Number_of_Owners                     int64
Original_Equipment_Manufacturer     object
Car_Model                           object
Model_Year                           int64
Central_Variant_ID                   int64
Variant_Name                        object
Listed_Price                       float64
Actual_Price                       float64
city                                object
dtype: object

***Cleaned column 'Insurance_Validity_Period' from bangalore***

In [5]:
df['Insurance_Validity_Period'].unique()

array(['Third Party insurance', 'Comprehensive', 'Third Party',
       'Zero Dep', nan, '2', '1', 'Not Available'], dtype=object)

In [6]:
check =df['Insurance_Validity_Period'].isin(['Not Available']).sum()
check

np.int64(5)

In [7]:
df['Insurance_Validity_Period']=df['Insurance_Validity_Period'].replace({
    'Third Party insurance':'Third Party',
    'Zero Dep':'Zero Depreciation',
    np.nan:'Unknown',
    'Not Available': 'Unknown',
    '1': 'One Year',
    '2':'Two Years'
})

In [8]:
#df[df['Insurance_Validity_Period'].isin(['Not Available', '1', '2'])
df['Insurance_Validity_Period'].unique()

array(['Third Party', 'Comprehensive', 'Zero Depreciation', 'Unknown',
       'Two Years', 'One Year'], dtype=object)

In [9]:
df['Fuel_Type'].unique()

array(['Petrol', 'Diesel', 'LPG', 'CNG', 'Electric'], dtype=object)

In [10]:
df['Fuel_Type'].isnull().sum()

np.int64(0)

In [11]:
df.head(5)

,Insurance_Validity_Period,Fuel_Type,Number_of_Seats,Regional_Transport_Office,Transmission_Type,Top_Features,Comfort_and_Convenience,Interior_Features,Exterior_Features,Safety_Features,...,Kilometers_Driven,Number_of_Owners,Original_Equipment_Manufacturer,Car_Model,Model_Year,Central_Variant_ID,Variant_Name,Listed_Price,Actual_Price,city
0,Third Party,Petrol,5 Seats,KA51,Manual,"['Power Steering', 'Power Windows Front', 'Air...","['Power Steering', 'Power Windows Front', 'Pow...","['Air Conditioner', 'Heater', 'Digital Odomete...","['Adjustable Head Lights', 'Manually Adjustabl...","['Centeral Locking', 'Child Safety Locks', 'Da...",...,"1,20,000",3,Maruti,Maruti Celerio,2015,3979,VXI,400000.0,427093.247588,bangalore
1,Comprehensive,Petrol,5 Seats,KA05,Manual,"['Power Steering', 'Power Windows Front', 'Air...","['Power Steering', 'Power Windows Front', 'Pow...","['Air Conditioner', 'Heater', 'Adjustable Stee...","['Adjustable Head Lights', 'Fog Lights Front',...","['Anti Lock Braking System', 'Centeral Locking...",...,"32,706",2,Ford,Ford Ecosport,2018,6087,1.5 Petrol Titanium BSIV,811000.0,838093.247588,bangalore
2,Comprehensive,Petrol,5 Seats,KA03,Manual,"['Power Steering', 'Power Windows Front', 'Air...","['Power Steering', 'Power Windows Front', 'Pow...","['Air Conditioner', 'Heater', 'Adjustable Stee...","['Adjustable Head Lights', 'Fog Lights Front',...","['Anti Lock Braking System', 'Centeral Locking...",...,"11,949",1,Tata,Tata Tiago,2018,2983,1.2 Revotron XZ,585000.0,612093.247588,bangalore
3,Comprehensive,Petrol,5 Seats,KA53,Manual,"['Power Steering', 'Power Windows Front', 'Air...","['Power Steering', 'Power Windows Front', 'Pow...","['Air Conditioner', 'Heater', 'Adjustable Stee...","['Adjustable Head Lights', 'Fog Lights Front',...","['Anti Lock Braking System', 'Centeral Locking...",...,"17,794",1,Hyundai,Hyundai Xcent,2014,1867,1.2 Kappa S Option,462000.0,489093.247588,bangalore
4,Third Party,Diesel,5 Seats,KA04,Manual,"['Power Steering', 'Power Windows Front', 'Air...","['Power Steering', 'Power Windows Front', 'Pow...","['Air Conditioner', 'Heater', 'Adjustable Stee...","['Adjustable Head Lights', 'Fog Lights Front',...","['Anti Lock Braking System', 'Centeral Locking...",...,"60,000",1,Maruti,Maruti SX4 S Cross,2015,4277,DDiS 200 Zeta,790000.0,817093.247588,bangalore

***Cleaned Number_of_Seats column from bangalore***

In [12]:

df['Number_of_Seats'] = df['Number_of_Seats'].str.replace('Seats', '',regex= False).str.strip()

In [13]:
df['Number_of_Seats'].unique()

array(['5', '7', '4', '6', '8', '10', nan, '9'], dtype=object)

In [14]:
df[df['Number_of_Seats'].isnull()]

,Insurance_Validity_Period,Fuel_Type,Number_of_Seats,Regional_Transport_Office,Transmission_Type,Top_Features,Comfort_and_Convenience,Interior_Features,Exterior_Features,Safety_Features,...,Kilometers_Driven,Number_of_Owners,Original_Equipment_Manufacturer,Car_Model,Model_Year,Central_Variant_ID,Variant_Name,Listed_Price,Actual_Price,city
1175,Third Party,Petrol,NaN,KA03,Manual,[],NaN,NaN,NaN,NaN,...,"40,000",3,Maruti,Maruti Estilo,2009,4079,LXI,200000.0,227093.247588,bangalore

In [15]:
df.shape

(1481, 27)

In [16]:
df=df.drop(df[df['Number_of_Seats'].isnull()].index)

In [17]:
df['Number_of_Seats'].unique()

array(['5', '7', '4', '6', '8', '10', '9'], dtype=object)

In [18]:
df['Number_of_Seats']=df['Number_of_Seats'].astype(int)

In [19]:
df['Number_of_Seats'].dtypes

dtype('int64')

***Engine_Capacity  column***

In [20]:
df['Engine_Capacity'].unique()

array(['998 CC', '1497 CC', '1199 CC', '1197 CC', '1248 CC', '1956 CC',
       '1198 CC', '1462 CC', '2179 CC', '1950 CC', '1396 CC', '1995 CC',
       '1498 CC', '4663 CC', '1086 CC', '1991 CC', '1968 CC', '1998 CC',
       '2982 CC', '1461 CC', '1797 CC', '796 CC', '1353 CC', '2925 CC',
       '2987 CC', '2967 CC', '999 CC', '1341 CC', '1496 CC', '1582 CC',
       '1798 CC', '1120 CC', '1969 CC', '1451 CC', '814 CC', '1999 CC',
       '1591 CC', '1397 CC', '1368 CC', '1598 CC', '3198 CC', '1196 CC',
       '2993 CC', '2755 CC', '2143 CC', '2354 CC', '1332 CC', '2199 CC',
       '1997 CC', '1499 CC', '2148 CC', '2696 CC', '1364 CC', '2494 CC',
       '1373 CC', '1299 CC', '1061 CC', '1493 CC', '2497 CC', '1495 CC',
       '1590 CC', '1896 CC', '1330 CC', '1781 CC', '1390 CC', '1194 CC',
       '2953 CC', '1399 CC', '1595 CC', nan, '2496 CC', '0 CC', '1984 CC',
       '2694 CC', '1298 CC', '2362 CC', '970 CC', '2198 CC', '1599 CC',
       '993 CC', '2393 CC', '1389 CC', '1597 CC', '2498 CC', '2523 CC',
       '1586 CC', '995 CC', '2499 CC', '2998 CC', '72 CC', '1589 CC',
       '624 CC', '1596 CC', '799 CC', '3597 CC', '2184 CC', '1405 CC',
       '5000 CC', '1422 CC', '1047 CC', '2200 CC', '2996 CC', '1108 CC',
       '2400 CC', '1996 CC', '1395 CC'], dtype=object)

In [21]:
df['Engine_Capacity']=df['Engine_Capacity'].str.replace('CC','',regex=False).str.strip()

In [22]:
df['Engine_Capacity'].isnull().sum()

np.int64(3)

In [23]:
def extract_first_numeric(value):
    if isinstance(value, str):
        numbers = re.findall(r'\d+\.?\d*', value)  # Find all numeric sequences
        return numbers[0] if numbers else np.nan
    return np.nan

# Convert 'Engine_Capacity' to string and apply the function
df['Engine_Capacity'] = df['Engine_Capacity'].astype(str).apply(extract_first_numeric)

In [24]:
df['Engine_Capacity'] = pd.to_numeric(df['Engine_Capacity'], errors='coerce')

In [25]:
#df['Engine_Capacity'] = df['Engine_Capacity'].clip(upper=10.0)

In [26]:
df[df['Engine_Capacity'].isna()]

,Insurance_Validity_Period,Fuel_Type,Number_of_Seats,Regional_Transport_Office,Transmission_Type,Top_Features,Comfort_and_Convenience,Interior_Features,Exterior_Features,Safety_Features,...,Kilometers_Driven,Number_of_Owners,Original_Equipment_Manufacturer,Car_Model,Model_Year,Central_Variant_ID,Variant_Name,Listed_Price,Actual_Price,city
487,Third Party,Petrol,6,NaN,Manual,[],NaN,NaN,NaN,NaN,...,"10,000",3,Maruti,Maruti Gypsy,1995,4099,MG410W ST,400000.0,427093.247588,bangalore
490,Third Party,Petrol,8,KA18,Manual,[],NaN,NaN,NaN,NaN,...,"10,000",3,Maruti,Maruti Gypsy,1995,4100,MG410W HT,400000.0,427093.247588,bangalore
574,Third Party,Electric,4,KA03,Automatic,"['Power Steering', 'Power Windows Front', 'Air...","['Power Steering', 'Power Windows Front', 'Pow...","['Air Conditioner', 'Heater', 'Digital Odomete...","['Adjustable Head Lights', 'Manually Adjustabl...","['Child Safety Locks', 'Halogen Headlamps', 'R...",...,"20,000",1,Mahindra,Mahindra e2o Plus,2017,5477,P6,550000.0,577093.247588,bangalore

In [27]:
#df.iloc[:, 10:][df['Original_Equipment_Manufacturer'] == 'Maruti']

In [28]:
df['Engine_Capacity'] = df.groupby('Original_Equipment_Manufacturer')['Engine_Capacity'].transform(lambda x: x.fillna(x.mean()))

In [29]:
print(df['Engine_Capacity'].isnull().sum())

0

In [30]:
# overall_mean = df['Engine_Capacity'].mean()
# df['Engine_Capacity'] = df['Engine_Capacity'].fillna(overall_mean)

In [31]:
df['Engine_Capacity'].isnull().sum()

np.int64(0)

In [32]:
df['Car_Model'].isnull().sum()

np.int64(0)

***Cleaned Regional_Transport_Office column from bangalore dataset***

In [33]:
df['Regional_Transport_Office']=df['Regional_Transport_Office'].fillna('KA03')#filled missing values using max value

In [34]:
df['Regional_Transport_Office'].isnull().sum()

np.int64(0)

In [35]:
df.isna().sum()

Insurance_Validity_Period            0
Fuel_Type                            0
Number_of_Seats                      0
Regional_Transport_Office            0
Transmission_Type                    0
Top_Features                         0
Comfort_and_Convenience             13
Interior_Features                   16
Exterior_Features                   20
Safety_Features                     21
Entertainment_and_Communication    135
Mileage_(km/l)                      42
Engine_Capacity                      0
Maximum_Power                       15
Torque                              15
Wheel_Size                         451
Battery_Type                         0
Kilometers_Driven                    0
Number_of_Owners                     0
Original_Equipment_Manufacturer      0
Car_Model                            0
Model_Year                           0
Central_Variant_ID                   0
Variant_Name                         0
Listed_Price                         0
Actual_Price                         0
city                                 0
dtype: int64

***Clleaned Transmission_Type colum from bangalore dataset***

In [36]:
df['Transmission_Type'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [37]:
df['Transmission_Type'].isnull().sum()

np.int64(0)

In [38]:
df.shape

(1480, 27)

***Cleaned Mileage_(km/l) column from bangalore dataset***

In [39]:
df['Mileage_(km/l)'].str[-5:].str.strip().value_counts()

Mileage_(km/l)
kmpl     1436
km/kg       2
Name: count, dtype: int64

In [40]:
df['Mileage_(km/l)'] = df['Mileage_(km/l)'].str.replace('kmpl','',regex = False).str.strip().str.replace('km/kg','',regex = False).str.strip()

In [41]:
df['Mileage_(km/l)'] = pd.to_numeric(df['Mileage_(km/l)'], errors='coerce')
# Fill remaining NaNs with the overall mean after group filling
overall_mean = df['Mileage_(km/l)'].mean()
df['Mileage_(km/l)'] = df['Mileage_(km/l)'].fillna(overall_mean)

# Check for any remaining NaNs
remaining_nans = df['Mileage_(km/l)'].isna().sum()
print(f"Remaining NaN values in 'Mileage_(km/l)': {remaining_nans}")

Remaining NaN values in 'Mileage_(km/l)': 0

In [42]:
df.isna().sum()

Insurance_Validity_Period            0
Fuel_Type                            0
Number_of_Seats                      0
Regional_Transport_Office            0
Transmission_Type                    0
Top_Features                         0
Comfort_and_Convenience             13
Interior_Features                   16
Exterior_Features                   20
Safety_Features                     21
Entertainment_and_Communication    135
Mileage_(km/l)                       0
Engine_Capacity                      0
Maximum_Power                       15
Torque                              15
Wheel_Size                         451
Battery_Type                         0
Kilometers_Driven                    0
Number_of_Owners                     0
Original_Equipment_Manufacturer      0
Car_Model                            0
Model_Year                           0
Central_Variant_ID                   0
Variant_Name                         0
Listed_Price                         0
Actual_Price                         0
city                                 0
dtype: int64

In [43]:
# grouped = df.groupby('Fuel_Type')

In [44]:
# mean_mileage = grouped['Mileage_(km/l)'].mean()

In [45]:
# def fill_missing_mileage(row):
#     if pd.isna(row['Mileage_(km/l)']):
#         fuel_type = row['Fuel_Type']
#         return mean_mileage.get(fuel_type, None)  # Use .get() to handle any Fuel_Type with no mean value
#     else:
#         return row['Mileage_(km/l)']

# df['Mileage_(km/l)'] = df.apply(fill_missing_mileage, axis=1)

***Cleaned Wheel_Size column from the bangalore dataset***

In [46]:
df['Wheel_Size'].unique()

array([nan, '16', '14', '17', '15', '19', '13', '18', 'R18', '12', 'R16',
       'R17', '20', 'R15', 'R19', 'R14', '21'], dtype=object)

In [47]:
df['Wheel_Size'].isnull().sum()

np.int64(451)

In [48]:
df['Wheel_Size'] = df['Wheel_Size'].str.replace('R','',regex = False).str.strip()

In [49]:
df['Wheel_Size'] = pd.to_numeric(df['Wheel_Size'], errors='coerce')

In [50]:
df['Wheel_Size'] = df['Wheel_Size'].fillna(df['Wheel_Size'].mean())

In [51]:
df.isna().sum()

Insurance_Validity_Period            0
Fuel_Type                            0
Number_of_Seats                      0
Regional_Transport_Office            0
Transmission_Type                    0
Top_Features                         0
Comfort_and_Convenience             13
Interior_Features                   16
Exterior_Features                   20
Safety_Features                     21
Entertainment_and_Communication    135
Mileage_(km/l)                       0
Engine_Capacity                      0
Maximum_Power                       15
Torque                              15
Wheel_Size                           0
Battery_Type                         0
Kilometers_Driven                    0
Number_of_Owners                     0
Original_Equipment_Manufacturer      0
Car_Model                            0
Model_Year                           0
Central_Variant_ID                   0
Variant_Name                         0
Listed_Price                         0
Actual_Price                         0
city                                 0
dtype: int64

In [52]:
df['Kilometers_Driven'].unique()

array(['1,20,000', '32,706', '11,949', '17,794', '60,000', '20,000',
       '37,772', '30,000', '37,000', '50,000', '24,887', '23,000',
       '48,928', '1,08,862', '80,000', '16,000', '65,376', '10,000',
       '67,000', '1,00,000', '18,083', '57,634', '1,10,000', '23,447',
       '33,000', '87,667', '40,000', '79,012', '31,344', '12,434',
       '12,000', '40,987', '18,157', '89,667', '56,997', '59,000',
       '18,835', '60,932', '33,539', '66,837', '400', '44,285', '25,000',
       '36,735', '79,000', '53,645', '53,982', '37,741', '17,367',
       '94,000', '33,700', '54,601', '64,000', '40,525', '44,154',
       '70,000', '68,039', '49,873', '90,000', '48,960', '68,000',
       '23,017', '83,000', '92,000', '62,139', '74,000', '26,500',
       '81,716', '24,000', '18,000', '38,197', '19,000', '14,000',
       '29,268', '64,374', '7,100', '43,679', '40,562', '58,600',
       '42,050', '65,017', '36,349', '83,394', '52,204', '89,000',
       '29,813', '13,345', '17,100', '75,000', '75,523', '47,000',
       '36,500', '28,253', '52,571', '61,993', '57,000', '36,359',
       '7,500', '30,301', '66,000', '56,010', '83,829', '35,000',
       '51,116', '85,565', '36,916', '1,12,795', '11,000', '36,685',
       '4,000', '32,184', '32,279', '59,698', '46,071', '9,554', '74,499',
       '56,211', '9,001', '65,457', '23,682', '1,34,557', '96,567',
       '83,007', '34,000', '81,634', '57,284', '46,429', '17,624',
       '49,690', '55,702', '45,046', '53,000', '94,695', '22,162',
       '1,15,331', '42,233', '20,941', '46,602', '1,04,000', '50,035',
       '25,170', '25,022', '26,367', '76,567', '36,459', '93,725',
       '1,15,599', '43,469', '77,000', '72,000', '87,101', '40,771',
       '28,000', '26,000', '76,032', '1,13,780', '65,812', '39,959',
       '65,484', '49,174', '63,797', '60,216', '38,153', '76,485',
       '40,623', '88,051', '16,522', '35,469', '40,073', '65,730',
       '36,184', '69,310', '55,643', '62,803', '68,656', '77,501',
       '48,325', '69,000', '14,999', '90,773', '64,917', '70,235',
       '78,782', '1,64,000', '72,136', '52,486', '1,50,000', '36,887',
       '47,962', '1,35,000', '47,398', '55,000', '1,16,624', '54,561',
       '65,072', '1,33,532', '39,886', '56,976', '68,303', '54,000',
       '98,500', '72,348', '62,696', '1,74,000', '65,000', '36,000',
       '1,99,000', '71,905', '69,748', '44,000', '17,875', '95,678',
       '12,003', '1,14,427', '64,655', '46,456', '27,000', '91,598',
       '57,521', '7,598', '38,520', '1,10,455', '26,901', '28,177',
       '82,998', '14,500', '25,887', '74,094', '91,045', '80,033',
       '13,957', '34,140', '20,056', '38,233', '98,000', '16,998',
       '15,256', '4,495', '34,561', '1,42,135', '9,553', '7,600',
       '45,578', '42,000', '16,306', '25,086', '54,845', '35,642',
       '22,173', '67,790', '38,000', '49,713', '10,002', '46,706',
       '1,06,000', '55,833', '46,716', '1,13,348', '1,34,000', '52,311',
       '59,514', '36,743', '83,046', '59,420', '4,545', '70,404',
       '39,725', '23,272', '8,407', '14,881', '54,305', '64,998',
       '75,940', '25,639', '44,107', '41,594', '24,786', '56,000',
       '31,000', '19,065', '30,538', '48,891', '26,676', '35,647',
       '63,825', '31,346', '79,349', '88,203', '37,370', '52,228',
       '40,542', '47,936', '45,000', '20,469', '46,258', '54,242',
       '90,727', '31,003', '24,233', '36,983', '68,915', '5,440', '8,096',
       '1,25,903', '33,040', '30,722', '58,778', '51,395', '65,881',
       '49,934', '91,000', '61,576', '1,14,321', '53,125', '36,462',
       '97,542', '13,000', '41,000', '94,471', '58,000', '46,000',
       '36,531', '36,004', '58,808', '31,983', '78,536', '54,134',
       '27,227', '25,508', '19,047', '64,453', '43,387', '36,538',
       '36,787', '32,112', '53,701', '26,085', '46,894', '53,692',
       '37,809', '30,813', '56,254', '15,727', '150', '21,113', '71,775',
       '59,882', '24,463', '72,352', '90,928', '1,17,530', '1,02,814',
       '34,801', '51,877', '17,125', '50,318', '46,123', '33,360',
       '21,800', '11,045', '51,406', '26,031', '30,740', '65,909',
       '1,40,590', '32,953', '51,801', '62,621', '79,068', '36,314',
       '21,236', '47,488', '56,814', '63,206', '61,103', '1,12,268',
       '97,346', '36,977', '85,700', '40,082', '1,12,566', '61,978',
       '27,658', '43,371', '67,633', '76,794', '59,577', '94,932',
       '75,140', '88,000', '73,969', '62,598', '24,343', '58,917',
       '72,338', '64,235', '83,873', '93,059', '45,681', '45,938',
       '57,423', '60,942', '19,875', '14,949', '77,995', '40,908',
       '39,693', '63,411', '94,221', '93,975', '30,155', '59,006',
       '18,570', '48,246', '61,263', '65,507', '26,158', '35,250',
       '65,965', '40,304', '56,661', '90,213', '20,739', '47,127',
       '47,038', '40,769', '34,757', '88,119', '57,176', '62,223',
       '52,000', '63,251', '67,444', '63,837', '61,000', '60,777',
       '39,248', '96,198', '81,207', '48,148', '64,389', '67,245',
       '30,518', '1,02,407', '53,606', '44,253', '34,702', '42,762',
       '57,459', '70,381', '80,648', '81,853', '90,802', '16,502',
       '31,530', '71,086', '69,210', '71,165', '86,543', '67,225',
       '16,247', '39,481', '61,227', '1,12,521', '63,359', '1,25,227',
       '71,884', '79,059', '69,124', '73,340', '44,268', '37,354',
       '80,426', '89,801', '69,199', '78,249', '26,918', '29,905',
       '37,678', '60,442', '66,463', '40,844', '79,415', '88,411',
       '1,06,516', '88,509', '44,437', '83,731', '45,621', '38,199',
       '91,660', '51,947', '76,836', '33,222', '47,333', '43,791',
       '87,660', '71,938', '1,04,938', '1,24,707', '88,556', '48,743',
       '51,338', '97,334', '53,031', '51,580', '23,920', '66,434',
       '54,097', '27,655', '14,955', '14,338', '73,799', '39,139',
       '89,633', '16,826', '25,133', '34,990', '33,210', '28,051',
       '22,280', '21,193', '7,150', '13,262', '21,000', '61,902',
       '38,396', '7,561', '6,731', '55,567', '48,938', '71,545', '56,577',
       '56,974', '40,344', '36,216', '45,965', '74,982', '21,925',
       '50,406', '26,483', '12,104', '23,721', '8,212', '9,358', '62,011',
       '38,771', '42,174', '43,199', '10,155', '1,10,654', '50,704',
       '34,725', '57,709', '26,224', '32,196', '56,672', '21,226',
       '1,05,000', '10,346', '16,679', '15,437', '15,017', '75,283',
       '54,568', '14,516', '53,627', '5,083', '50,666', '16,962',
       '70,446', '60,528', '7,132', '21,280', '82,021', '18,998',
       '56,189', '57,644', '51,286', '27,937', '40,031', '47,619',
       '30,535', '20,229', '35,800', '11,453', '35,410', '49,948',
       '48,285', '19,062', '87,000', '56,276', '27,103', '46,507',
       '39,070', '22,438', '21,225', '28,737', '90,106', '1,38,175',
       '55,609', '56,410', '77,593', '49,538', '41,268', '60,020',
       '32,148', '69,565', '26,007', '1,34,850', '44,385', '1,02,662',
       '13,802', '13,444', '56,226', '8,733', '57,963', '19,508',
       '49,423', '78,622', '18,025', '68,220', '6,000', '59,889',
       '38,500', '39,157', '1,62,000', '89,900', '58,666', '54,137',
       '1,80,000', '21,997', '40,394', '49,000', '80,390', '52,721',
       '55,127', '35,922', '16,883', '86,000', '55,398', '25,829',
       '36,913', '42,162', '48,041', '43,285', '44,326', '62,984',
       '99,276', '42,812', '57,770', '42,220', '66,977', '29,916',
       '10,066', '39,243', '36,309', '69,408', '12,064', '17,190',
       '58,323', '40,765', '58,198', '42,976', '1,04,507', '44,074',
       '14,089', '94,378', '71,000', '1,13,000', '1,70,402', '25,883',
       '32,746', '35,038', '38,995', '61,102', '1,32,000', '52,288',
       '69,054', '51,745', '22,000', '11,268', '24,357', '1,57,000',
       '9,982', '39,613', '68,906', '71,423', '17,811', '9,724', '20,754',
       '50,510', '85,000', '48,979', '9,000', '78,000', '1,500', '8,187',
       '81,777', '48,698', '67,771', '60,386', '1,11,374', '40,561',
       '92,529', '55,342', '51,000', '36,468', '11,250', '36,368',
       '62,000', '39,466', '49,570', '23,382', '42,954', '68,306',
       '54,961', '91,087', '16,691', '80,190', '54,639', '50,225',
       '68,017', '87,912', '2,045', '24,305', '2,500', '31,489', '82,268',
       '73,834', '73,000', '41,436', '19,024', '73,140', '29,289',
       '39,116', '41,958', '26,626', '63,460', '35,711', '20,057',
       '25,396', '35,993', '74,280', '82,000', '63,773', '1,01,356',
       '75,591', '72,208', '51,489', '74,643', '79,575', '35,288',
       '70,314', '96,939', '44,824', '1,69,219', '92,673', '20,183',
       '77,130', '27,025', '1,05,153', '70,509', '11,662', '36,176',
       '74,342', '89,837', '11,912', '55,544', '27,027', '56,363',
       '42,094', '1,14,912', '33,649', '69,798', '49,001', '57,527',
       '57,367', '50,936', '23,237', '66,596', '36,613', '74,104',
       '6,777', '14,560', '90,333', '50,114', '69,301', '71,306',
       '35,135', '1,02,000', '41,659', '85,300', '32,483', '34,376',
       '36,540', '1,48,625', '81,000', '5,609', '30,285', '80,153',
       '49,641', '83,075', '45,677', '81,849', '67,791', '38,100',
       '65,015', '62,029', '94,926', '1,19,487', '1,26,000', '70,332',
       '37,950', '1,56,039', '93,003'], dtype=object)

In [53]:
df['Kilometers_Driven'].isnull().sum()

np.int64(0)

In [54]:
df['Kilometers_Driven']=df['Kilometers_Driven'].str.replace(',','',regex = False).str.strip()

In [55]:
df['Kilometers_Driven'].dtype

dtype('O')

In [56]:
df['Kilometers_Driven'] = df['Kilometers_Driven'].astype(int)

In [57]:
df['Kilometers_Driven'].dtype

dtype('int64')

In [58]:
df['Number_of_Owners'].unique()

array([3, 2, 1, 4, 5])

In [59]:
df['Number_of_Owners'].isnull().sum()

np.int64(0)

In [60]:
df['Number_of_Owners'].dtype

dtype('int64')

In [61]:
df['Original_Equipment_Manufacturer'].unique()

array(['Maruti', 'Ford', 'Tata', 'Hyundai', 'Jeep', 'Datsun', 'Honda',
       'Mahindra', 'Mercedes-Benz', 'BMW', 'Renault', 'Audi', 'Toyota',
       'Mini', 'Kia', 'Skoda', 'Volkswagen', 'Volvo', 'MG', 'Nissan',
       'Fiat', 'Mahindra Ssangyong', 'Mitsubishi', 'Jaguar', 'Land Rover',
       'Chevrolet', 'Citroen', 'Opel', 'Mahindra Renault'], dtype=object)

In [62]:
df['Original_Equipment_Manufacturer'].isnull().sum()

np.int64(0)

In [63]:
df['Model_Year'].unique()

array([2015, 2018, 2014, 2020, 2017, 2021, 2019, 2022, 2016, 2011, 2009,
       2013, 2010, 2008, 2006, 2012, 2005, 2007, 2023, 1995, 1998, 2004,
       2003, 2001, 2002, 2000])

In [64]:
check =df['Model_Year'].isin([',']).sum()
check

np.int64(0)

In [65]:
df['Model_Year'].isnull().sum()

np.int64(0)

In [66]:
df['Model_Year'].dtype

dtype('int64')

In [67]:
df['Central_Variant_ID'].head()

0    3979
1    6087
2    2983
3    1867
4    4277
Name: Central_Variant_ID, dtype: int64

In [68]:
df['Central_Variant_ID'].isnull().sum()

np.int64(0)

In [69]:
check =df['Central_Variant_ID'].isin([',']).sum()
check

np.int64(0)

In [70]:
df['Central_Variant_ID'].dtype

dtype('int64')

In [71]:
df['Variant_Name'].head()

0                         VXI
1    1.5 Petrol Titanium BSIV
2             1.2 Revotron XZ
3          1.2 Kappa S Option
4               DDiS 200 Zeta
Name: Variant_Name, dtype: object

In [72]:
df['Variant_Name'].isnull().sum()

np.int64(0)

In [73]:
check =df['Variant_Name'].isin([',']).sum()
check

np.int64(0)

In [74]:
df['Listed_Price'].head()

0    400000.0
1    811000.0
2    585000.0
3    462000.0
4    790000.0
Name: Listed_Price, dtype: float64

In [75]:
df['Listed_Price'] = df['Listed_Price'].astype(int)

In [76]:
pd.set_option('display.float_format', '{:.0f}'.format)

# Now, when you print your DataFrame, it will display without scientific notation
print(df)

     Insurance_Validity_Period Fuel_Type  Number_of_Seats  \
0                  Third Party    Petrol                5
1                Comprehensive    Petrol                5
2                Comprehensive    Petrol                5
3                Comprehensive    Petrol                5
4                  Third Party    Diesel                5
...                        ...       ...              ...
1476             Comprehensive    Diesel                7
1477               Third Party    Petrol                5
1478             Comprehensive    Petrol                5
1479             Comprehensive    Diesel                5
1480             Comprehensive    Petrol                5

     Regional_Transport_Office Transmission_Type  \
0                         KA51            Manual
1                         KA05            Manual
2                         KA03            Manual
3                         KA53            Manual
4                         KA04            Manual
...                        ...               ...
1476                      KA01            Manual
1477                      KA02            Manual
1478                      KA03            Manual
1479                      KA03            Manual
1480                      KA04         Automatic

                                           Top_Features  \
0     ['Power Steering', 'Power Windows Front', 'Air...
1     ['Power Steering', 'Power Windows Front', 'Air...
2     ['Power Steering', 'Power Windows Front', 'Air...
3     ['Power Steering', 'Power Windows Front', 'Air...
4     ['Power Steering', 'Power Windows Front', 'Air...
...                                                 ...
1476  ['Power Steering', 'Power Windows Front', 'Air...
1477  ['Power Steering', 'Power Windows Front', 'Air...
1478  ['Power Steering', 'Power Windows Front', 'Air...
1479  ['Power Steering', 'Power Windows Front', 'Air...
1480  ['Power Steering', 'Power Windows Front', 'Air...

                                Comfort_and_Convenience  \
0     ['Power Steering', 'Power Windows Front', 'Pow...
1     ['Power Steering', 'Power Windows Front', 'Pow...
2     ['Power Steering', 'Power Windows Front', 'Pow...
3     ['Power Steering', 'Power Windows Front', 'Pow...
4     ['Power Steering', 'Power Windows Front', 'Pow...
...                                                 ...
1476  ['Power Steering', 'Power Windows Front', 'Pow...
1477  ['Power Steering', 'Power Windows Front', 'Pow...
1478  ['Power Steering', 'Power Windows Front', 'Pow...
1479  ['Power Steering', 'Power Windows Front', 'Pow...
1480  ['Power Steering', 'Power Windows Front', 'Pow...

                                      Interior_Features  \
0     ['Air Conditioner', 'Heater', 'Digital Odomete...
1     ['Air Conditioner', 'Heater', 'Adjustable Stee...
2     ['Air Conditioner', 'Heater', 'Adjustable Stee...
3     ['Air Conditioner', 'Heater', 'Adjustable Stee...
4     ['Air Conditioner', 'Heater', 'Adjustable Stee...
...                                                 ...
1476  ['Air Conditioner', 'Heater', 'Adjustable Stee...
1477  ['Air Conditioner', 'Heater', 'Adjustable Stee...
1478  ['Air Conditioner', 'Heater', 'Digital Odomete...
1479  ['Air Conditioner', 'Heater', 'Adjustable Stee...
1480  ['Air Conditioner', 'Heater', 'Adjustable Stee...

                                      Exterior_Features  \
0     ['Adjustable Head Lights', 'Manually Adjustabl...
1     ['Adjustable Head Lights', 'Fog Lights Front',...
2     ['Adjustable Head Lights', 'Fog Lights Front',...
3     ['Adjustable Head Lights', 'Fog Lights Front',...
4     ['Adjustable Head Lights', 'Fog Lights Front',...
...                                                 ...
1476  ['Adjustable Head Lights', 'Fog Lights Front',...
1477  ['Fog Lights Front', 'Fog Lights Rear', 'Power...
1478  ['Adjustable Head Lights', 'Power Adjustable E...
1479  ['Adjustable Head Lights', 'Fog Lights Front',...
1480  ['Adjustable Head Lights', 'Fog Lights Front',...

                                        Safety_Features  ...  \
0     ['Centeral Locking', 'Child Safety Locks', 'Da...  ...
1     ['Anti Lock Braking System', 'Centeral Locking...  ...
2     ['Anti Lock Braking System', 'Centeral Locking...  ...
3     ['Anti Lock Braking System', 'Centeral Locking...  ...
4     ['Anti Lock Braking System', 'Centeral Locking...  ...
...                                                 ...  ...
1476  ['Anti Lock Braking System', 'Brake Assist', '...  ...
1477  ['Anti Lock Braking System', 'Brake Assist', '...  ...
1478  ['Centeral Locking', 'Power Door Locks', 'Chil...  ...
1479  ['Anti Lock Braking System', 'Centeral Locking...  ...
1480  ['Anti Lock Braking System', 'Centeral Locking...  ...

     Kilometers_Driven  Number_of_Owners  Original_Equipment_Manufacturer  \
0               120000                 3                           Maruti
1                32706                 2                             Ford
2                11949                 1                             Tata
3                17794                 1                          Hyundai
4                60000                 1                           Maruti
...                ...               ...                              ...
1476            156039                 2                           Toyota
1477             56000                 2                           Maruti
1478             42000                 2                            Honda
1479             93003                 1                          Hyundai
1480             36000                 2                          Hyundai

               Car_Model Model_Year  Central_Variant_ID  \
0         Maruti Celerio       2015                3979
1          Ford Ecosport       2018                6087
2             Tata Tiago       2018                2983
3          Hyundai Xcent       2014                1867
4     Maruti SX4 S Cross       2015                4277
...                  ...        ...                 ...
1476     Toyota Fortuner       2012                2253
1477          Maruti SX4       2008                4257
1478          Honda Brio       2014                1188
1479         Hyundai i20       2018                5695
1480   Hyundai Grand i10       2017                1523

                  Variant_Name  Listed_Price  Actual_Price       city
0                          VXI        400000        427093  bangalore
1     1.5 Petrol Titanium BSIV        811000        838093  bangalore
2              1.2 Revotron XZ        585000        612093  bangalore
3           1.2 Kappa S Option        462000        489093  bangalore
4                DDiS 200 Zeta        790000        817093  bangalore
...                        ...           ...           ...        ...
1476                    4x4 MT       1649000       1676093  bangalore
1477                 Zxi BSIII        330000        357093  bangalore
1478                      S MT        425000        452093  bangalore
1479        1.4 Asta Dual Tone        750000        777093  bangalore
1480            Asta Option AT        675000        702093  bangalore

[1480 rows x 27 columns]

In [77]:
df['Listed_Price'].unique()

array([    400000,     811000,     585000,     462000,     790000,
          1900000,     345000,    1200000,     960000,     690000,
           682000,     825000,     595000,    1350000,    5595000,
           521000,    1005000,     775000,    2200000,     582000,
          1090000,     457000,    4900000,     550000,     570000,
           220000,    4145000,     861000,    1785000,     802999,
          2565000,     674000,     349000,    1050000,    4425000,
           405999,    4965000,    1100000,     594000,     710000,
           692000,     650000,    2090000,     411000,    3675000,
           610000,    1675000,     530000,    7990000,     250000,
           715000,    3500000,    2250000,     625000,    2695000,
           428000,     695000,     930000,     455000,    1195000,
          2175000,     442000,     500000,    3395000,     537000,
           750000,    1790000,     468000,     420000,     919999,
           533000,     850000,     751000,     388000,     490000,
           494000,     525000,    2890000,     365000,    1895000,
          5990000,    2075000,     394000,     725000,     240000,
           835000,    1725000,     330000,     990000,     755000,
          1750000,    2083000,     271000,    1280000,     436000,
          1250000,    2225000,     475000,     600000,    2450000,
          1625000,    1650000,     249000,     630000,    2599000,
           385000,     300000,    2975000,     276000,     730000,
          2245000,     399000,     312000,    1275000,    1990000,
           719000,    1260000,    3981000,     627000,    1300000,
           672000,    1825000,     440000,    1460000,    2041000,
          1033000,     275000,     676000,    4290000,     444000,
           509999,     925000,    1024000,     994999,     935000,
           834000,     560000,     454000,    3690000,     900000,
          7900000,     843000,     799000,     576000,     949000,
           795000,    1085000,    2590000,     516000,     777000,
           753000,    1226000,    1150000,     629000,     447000,
           786000,     745000,     942000,     675000,     875000,
           869000,     425000,    1070000,    1025000,    1000000,
           375000,     844000,     764000,     684000,     320000,
           803999,    1400000,     548000,     619000,     865000,
           535000,     975000,     699000,     893000,     941000,
           632000,     645000,    6795000,     299000,    2095000,
          2800000,     999000,    1295000,     329000,     666000,
          2290000,    1026000,    1700000,     681000,    1690000,
           318000,     688000,     265000,    2000000,     620000,
          1470000,    1475000,     415000,     686000,     517000,
          3300000,     499000,     774000,     285000,     780000,
           555000,     607000,     513999,     705000,     653000,
           872000,     564000,     370000,    1220000,     575000,
           868000,    3000000,     980000,     450000,     543000,
           661000,     505000,    2365000,    6050000,    1600000,
           520000,     616000,     624000,     549000,     760000,
           524000,     583000,    1147000,    3150000,     855000,
          1845000,     950000,     846000,     424000,     210000,
           959000,     889000,     836000,     660000,     334000,
           991000,    1450000,     219000,    1285000,    4195000,
           729000,     432000,     700000,    1499000,     762000,
          1218000,    1405000,    1390000,    1890000,    1125000,
           260000,     395000,     405000,     765000,     487000,
          1474000,    1340000,     770000,     818000,     724000,
           175000,     408000,     642000,     390000,     429000,
           601000,    1975000,    1644000,     894999,     350000,
           581000,     513000,     806000,    4950000,     426000,
           484999,     351000,    1495000,    2750000,    2345000,
           190000,     890000,     823000,     554000,     815000,
           372000,     515000,     409999,     685000,    5500000,
          1800000,     180000,    1950000,     491000,    1175000,
          3400000,    1779000,     404000,     358000,    1551000,
           501000,     617000,    4700000,     840000,    1380000,
           696000,     721000,     927000,    3275000,     905000,
           848000,    1099000,     445000,     327000,     577000,
           679000,    1445000,     776000,     380000,    3075000,
           527000,     552000,     459000,     536000,    2400000,
          4745000,    1375000,     880000,    1030000,    5675000,
           532000,     651000,    3200000,     740000,    1699000,
          1765000,     360000,     493000,     486000,     540000,
           407000,     453000,    1010000,    1645000,     635000,
           977000,    1705000,     667000,     636000,     792000,
       5800000000,     827000,     382000,     512000,     463000,
          1500000,     459999,     511000, 5500000000,     130000,
           985000,    1045000,     200000,     586000,     584000,
           409000,     738000,     656000,     483000,     185000,
          2100000,    1245000,     546000,     160000,     332000,
           809000,     347000,     150000,    1359000,     110000,
           135000,     170000,    2850000,    1449000,     377000,
           638000,    1575000,     613000,    1145000,     599000,
          2165000,     120000,     165000,     888000,     707000,
           593000,     574000,     573000, 7000000000,     430000,
          1075000,     615000,     746000,     634000, 4000000000,
           579000,     965000,    3600000,     982000,     810000,
           383000,     605000,    1345000,     734000,     701000,
           789000,     476999,    1525000,     562000,     670000,
       8000000000,     531000,     558000,     155000,     508000,
          2060000,     542000,    1370000,    3250000,    2475000,
           417000,     631000,     465000,     544000,     704000,
           359000,     335000,     766000,     480000,     822000,
          3795000,     539000,    1006000,    3900000,     796000,
           718000,     280000,     559000,     268000,     864000,
           341000,     800000,    3750000,     338000,     604000,
           621000,     140000,     708000,     443000,     470000,
          1850000, 7500000000,     649000,     657000,     322000,
           434999,     317000,     830000, 6500000000,     547000,
           413000,    2325000,     709000,    2295000,     528000,
           691000,    2550000,     609000,     678000,     449000,
       5600000000,     844999,     680000,     720000, 6000000000,
           357000,     798000,     858000,     608000,     698000,
          1035000,     328000, 7600000000,     232000,     966000,
           781000,     749000,    2350000,     230000,     898000,
          2395000,    1485000,    3825000,    2500000,    1540000,
          1290000, 5000000000,     808000,     278000,    1261000,
           270000,     340000,    1225000,    2900000,     315000,
          1328000,    1724000,     225000,     100000,    1329000,
          1358000,     911000,    1565000,     479000,     736000,
          2600000,    4445000,     618000,     916000,     125000,
           590000,     381000,     819000,     195000,    1013000,
           677000,     591000,     697000,     463999,    1695000,
          2700000,     733000,    1885000,    1193000,    2150000,
          1585000,    7000000,     689000,    1068000,    1799000,
           639000,     325000,     290000,    1774000,    1073000,
           658000,     495000,     647000,     245000,     659000,
           867000,     389000,     186000,     694000,     384000,
           782000,     663000,     316000,    1595000,    1057000,
          1264000,    1666000,    3875000,    3775000,    2198000,
           612000,    3299000,     643000,     838000,    2545000,
           655000,     476000,    1299000,     492000,    1365000,
          1488000,     939000,    1944000,     551000,     352000,
          1519000,     737000,     526000,    3194000,    1899000,
          1545000,    3495000,     626000,    1775000,    2875000,
          2275000,    1550000,    3025000,    4275000,    4450000,
          1007000,     906000,    1031000,    1395000,    1423000,
          4399000,     747000,    1590000,     403000,    1440000,
          5275000,    3800000,     507000,    1020000,     472000,
           471000,     821000,     401999,    1002000,    1298000,
          1109000,     466000,     924000,     378000,     899000,
           944999,    1605000,    1170000,    9500000,    2195000,
           421000,    1349000,    4100000,    2190000,     446000,
          1018000,     654000,     310000,    1084000,    1382000,
          3575000,     961999,     849000,    5750000,     306000,
           348000,    2425000,     541000,     568000,     637000,
          1649000])

In [78]:
df['Listed_Price'].dtype

dtype('int64')

In [79]:
df['Listed_Price'].isnull().sum()

np.int64(0)

In [80]:
df['Actual_Price'].head()

0   427093
1   838093
2   612093
3   489093
4   817093
Name: Actual_Price, dtype: float64

In [81]:
df['Actual_Price']=df['Actual_Price'].astype(int)

In [82]:
pd.set_option('display.float_format', '{:.0f}'.format)

# Now, when you print your DataFrame, it will display without scientific notation
print(df)

     Insurance_Validity_Period Fuel_Type  Number_of_Seats  \
0                  Third Party    Petrol                5
1                Comprehensive    Petrol                5
2                Comprehensive    Petrol                5
3                Comprehensive    Petrol                5
4                  Third Party    Diesel                5
...                        ...       ...              ...
1476             Comprehensive    Diesel                7
1477               Third Party    Petrol                5
1478             Comprehensive    Petrol                5
1479             Comprehensive    Diesel                5
1480             Comprehensive    Petrol                5

     Regional_Transport_Office Transmission_Type  \
0                         KA51            Manual
1                         KA05            Manual
2                         KA03            Manual
3                         KA53            Manual
4                         KA04            Manual
...                        ...               ...
1476                      KA01            Manual
1477                      KA02            Manual
1478                      KA03            Manual
1479                      KA03            Manual
1480                      KA04         Automatic

                                           Top_Features  \
0     ['Power Steering', 'Power Windows Front', 'Air...
1     ['Power Steering', 'Power Windows Front', 'Air...
2     ['Power Steering', 'Power Windows Front', 'Air...
3     ['Power Steering', 'Power Windows Front', 'Air...
4     ['Power Steering', 'Power Windows Front', 'Air...
...                                                 ...
1476  ['Power Steering', 'Power Windows Front', 'Air...
1477  ['Power Steering', 'Power Windows Front', 'Air...
1478  ['Power Steering', 'Power Windows Front', 'Air...
1479  ['Power Steering', 'Power Windows Front', 'Air...
1480  ['Power Steering', 'Power Windows Front', 'Air...

                                Comfort_and_Convenience  \
0     ['Power Steering', 'Power Windows Front', 'Pow...
1     ['Power Steering', 'Power Windows Front', 'Pow...
2     ['Power Steering', 'Power Windows Front', 'Pow...
3     ['Power Steering', 'Power Windows Front', 'Pow...
4     ['Power Steering', 'Power Windows Front', 'Pow...
...                                                 ...
1476  ['Power Steering', 'Power Windows Front', 'Pow...
1477  ['Power Steering', 'Power Windows Front', 'Pow...
1478  ['Power Steering', 'Power Windows Front', 'Pow...
1479  ['Power Steering', 'Power Windows Front', 'Pow...
1480  ['Power Steering', 'Power Windows Front', 'Pow...

                                      Interior_Features  \
0     ['Air Conditioner', 'Heater', 'Digital Odomete...
1     ['Air Conditioner', 'Heater', 'Adjustable Stee...
2     ['Air Conditioner', 'Heater', 'Adjustable Stee...
3     ['Air Conditioner', 'Heater', 'Adjustable Stee...
4     ['Air Conditioner', 'Heater', 'Adjustable Stee...
...                                                 ...
1476  ['Air Conditioner', 'Heater', 'Adjustable Stee...
1477  ['Air Conditioner', 'Heater', 'Adjustable Stee...
1478  ['Air Conditioner', 'Heater', 'Digital Odomete...
1479  ['Air Conditioner', 'Heater', 'Adjustable Stee...
1480  ['Air Conditioner', 'Heater', 'Adjustable Stee...

                                      Exterior_Features  \
0     ['Adjustable Head Lights', 'Manually Adjustabl...
1     ['Adjustable Head Lights', 'Fog Lights Front',...
2     ['Adjustable Head Lights', 'Fog Lights Front',...
3     ['Adjustable Head Lights', 'Fog Lights Front',...
4     ['Adjustable Head Lights', 'Fog Lights Front',...
...                                                 ...
1476  ['Adjustable Head Lights', 'Fog Lights Front',...
1477  ['Fog Lights Front', 'Fog Lights Rear', 'Power...
1478  ['Adjustable Head Lights', 'Power Adjustable E...
1479  ['Adjustable Head Lights', 'Fog Lights Front',...
1480  ['Adjustable Head Lights', 'Fog Lights Front',...

                                        Safety_Features  ...  \
0     ['Centeral Locking', 'Child Safety Locks', 'Da...  ...
1     ['Anti Lock Braking System', 'Centeral Locking...  ...
2     ['Anti Lock Braking System', 'Centeral Locking...  ...
3     ['Anti Lock Braking System', 'Centeral Locking...  ...
4     ['Anti Lock Braking System', 'Centeral Locking...  ...
...                                                 ...  ...
1476  ['Anti Lock Braking System', 'Brake Assist', '...  ...
1477  ['Anti Lock Braking System', 'Brake Assist', '...  ...
1478  ['Centeral Locking', 'Power Door Locks', 'Chil...  ...
1479  ['Anti Lock Braking System', 'Centeral Locking...  ...
1480  ['Anti Lock Braking System', 'Centeral Locking...  ...

     Kilometers_Driven  Number_of_Owners  Original_Equipment_Manufacturer  \
0               120000                 3                           Maruti
1                32706                 2                             Ford
2                11949                 1                             Tata
3                17794                 1                          Hyundai
4                60000                 1                           Maruti
...                ...               ...                              ...
1476            156039                 2                           Toyota
1477             56000                 2                           Maruti
1478             42000                 2                            Honda
1479             93003                 1                          Hyundai
1480             36000                 2                          Hyundai

               Car_Model Model_Year  Central_Variant_ID  \
0         Maruti Celerio       2015                3979
1          Ford Ecosport       2018                6087
2             Tata Tiago       2018                2983
3          Hyundai Xcent       2014                1867
4     Maruti SX4 S Cross       2015                4277
...                  ...        ...                 ...
1476     Toyota Fortuner       2012                2253
1477          Maruti SX4       2008                4257
1478          Honda Brio       2014                1188
1479         Hyundai i20       2018                5695
1480   Hyundai Grand i10       2017                1523

                  Variant_Name  Listed_Price  Actual_Price       city
0                          VXI        400000        427093  bangalore
1     1.5 Petrol Titanium BSIV        811000        838093  bangalore
2              1.2 Revotron XZ        585000        612093  bangalore
3           1.2 Kappa S Option        462000        489093  bangalore
4                DDiS 200 Zeta        790000        817093  bangalore
...                        ...           ...           ...        ...
1476                    4x4 MT       1649000       1676093  bangalore
1477                 Zxi BSIII        330000        357093  bangalore
1478                      S MT        425000        452093  bangalore
1479        1.4 Asta Dual Tone        750000        777093  bangalore
1480            Asta Option AT        675000        702093  bangalore

[1480 rows x 27 columns]

In [83]:
# Write the DataFrame to Excel, ensuring that floats are saved with no decimals
df.to_excel('bangalore_cars_cleaned.xlsx', index=False, float_format='%.0f')

In [84]:
df['Actual_Price'].dtype

dtype('int64')

In [85]:
df['Actual_Price'].unique()

array([    427093,     838093,     612093,     489093,     817093,
          1927093,     372093,    1227093,     987093,     717093,
           709093,     852093,     622093,    1377093,    5622093,
           548093,    1032093,     802093,    2227093,     609093,
          1117093,     484093,    4927093,     577093,     585000,
           247093,    4172093,     888093,    1812093,     821000,
          2592093,     701093,     376093,    1077093,    4452093,
           411000,    4992093,    1127093,     621093,     737093,
           699000,     677093,    2117093,     420000,    3702093,
           637093,    1702093,     557093,    8017093,     277093,
           742093,    3527093,    2277093,     652093,    2722093,
           436000,     722093,     957093,     459999,    1222093,
          2202093,     463000,     527093,    3422093,     581000,
           777093,    1817093,     515000,     447093,     947093,
           593000,     877093,     780000,     415093,     517093,
           521093,     552093,    2917093,     392093,    1922093,
          6017093,    2102093,     415000,     752093,     267093,
           862093,    1752093,     357093,    1017093,     782093,
          1777093,    2110093,     278000,    1307093,     458000,
          1277093,    2252093,     502093,     627093,    2477093,
          1652093,    1677093,     276093,     657093,    2626093,
           412093,     327093,    3002093,     303093,     757093,
          2272093,     426093,     339093,    1302093,    2017093,
           746093,    1287093,    4008093,     654093,    1327093,
           699093,    1852093,     455000,    1487093,    2068093,
          1060093,     302093,     690000,    4317093,     471093,
           537093,     952093,    1051093,    1022093,     962093,
           861093,     587093,     481093,    3717093,     927093,
          7927093,     870093,     826093,     603093,     976093,
           822093,    1112093,    2617093,     543093,     804093,
           780093,    1253093,    1177093,     656093,     474093,
           813093,     772093,     969093,     702093,     902093,
           896093,     452093,    1097093,    1052093,    1027093,
           402093,     871093,     791093,     711093,     830093,
           347093,     831093,    1427093,     575093,     646093,
           892093,     562093,    1002093,     726093,     920093,
           968093,     574000,     659093,     657000,    6822093,
           326093,    2122093,    2827093,    1026093,    1322093,
           356093,     693093,    2317093,    1053093,    1727093,
           714000,    1717093,     345093,     292093,     672093,
          2027093,     647093,    1497093,    1502093,     442093,
           615000,     565000,     693000,     549000,     688000,
          3327093,     801093,     312093,     807093,     582093,
           692000,     545000,     899093,     569000,     397093,
           561000,     566000,    1247093,     602093,     895093,
          3027093,    1007093,     601000,     477093,     616000,
           605000,     731000,     526000,    2392093,    6077093,
          1627093,     547093,     653000,     831000,     668000,
           576093,     787093,     551093,     600000,    1183000,
          3177093,     882093,    1872093,     977093,     873093,
           434000,     237093,     985000,    1036000,     852000,
           687093,     367000,     606000,    1018093,    1477093,
           246093,    1312093,    4222093,     482093,     756093,
           476000,     727093,    1526093,     769000,    1245093,
           534000,    1432093,    1417093,    1917093,    1152093,
           287093,     422093,     418000,     792093,     514093,
          1488000,    1367093,     797093,     845093,     751093,
           487000,     202093,     435093,     669093,     417093,
           456093,     628093,    2002093,    1671093,     922093,
           377093,     608093,     540093,     833093,    4977093,
           453093,     512093,     378093,     491000,    1522093,
          2777093,    2372093,     217093,     917093,     850093,
           581093,     526093,     842093,     399093,     542093,
           437093,     712093,    5527093,    1827093,     207093,
          1977093,     518093,    1202093,    3427093,    1806093,
           431093,     385093,    1578093,     644093,    4727093,
           867093,    1407093,     723093,     748093,     954093,
          3302093,     944999,     875093,    1126093,     472093,
           354093,     688093,     689000,     604093,     685000,
          1472093,     803093,     691000,     407093,    3102093,
           533000,     451000,     579093,     476999,     449000,
           563093,    2427093,    4772093,    1402093,     907093,
          1057093,    5702093,     537000,     680000,    3227093,
           721000,     767093,     459000,    1726093,     564000,
          1792093,     387093,     528000,     509999,     513999,
           546000,     478000,    1037093,    1672093,     662093,
          1004093,    1732093,     686000,     659000,     819093,
       5800027093,     854093,     405000,     532000,     496000,
          1527093,     573000,     487093,     641000,     517000,
       5500027093,     157093,    1012093,    1072093,     227093,
           650000,     590000,     436093,     760000,     701000,
           504000,     212093,    2127093,    1272093,     586000,
           538000,     187093,     341000,     836093,     374093,
           177093,    1448000,     137093,     162093,     197093,
          2877093,    1476093,     404093,     670000,    1602093,
           619000,    1172093,     624000,     665000,     637000,
          2192093,     147093,     192093,     915093,     741000,
           622000,     706000,     601093,     584000, 7000027093,
           457093,    1102093,     656000,     773093,     694093,
       4000027093,     597000,     661093,     542000,     992093,
          3627093,    1012000,     837093,     842000,     416000,
          1372093,     749000,     708000,     811999,     575000,
           504093,    1552093,     595000,     697093, 8000027093,
           629000,     570000,     599000,     182093,     513000,
          2087093,     548000,    1397093,    3277093,    2502093,
           434999,     681000,     492093,     596000,     707000,
           350000,     806000,     507093,     849093,    3822093,
           578000,    1026000,    3927093,     836999,     683000,
           307093,     644000,     295093,     802000,     919999,
           381000,     520000,     671000,     827093,    3777093,
           370000,     664000,     337000,     645000,     673000,
           167093,     758000,     473000,     497093,    1877093,
       7500027093,     694000,     711000,     345000,     483000,
           324000,     620000,     857093,     704000, 6500027093,
           421000,    2352093,    2322093,     553000,    2577093,
           632000,     717000,     465000,     579000, 5600027093,
           627000,     872093,     707093,     747093, 6000027093,
           384093,     819999,     883000,     735000,     792000,
          1062093,     338000, 7600027093,     784000,     658000,
           259093,     975000,     851000,     776093,    2377093,
           257093,     894999,     973000,     956000,    2422093,
           476093,    1512093,     349000,     844999,    3852093,
          2527093,    1567093,    1317093, 5000027093,     462093,
           835093,     305093,    1288093,     297093,     535093,
           367093,    1252093,    2927093,     665093,     342093,
          1355093,    1751093,     544093,     252093,     541093,
           127093,    1356093,    1385093,    1003000,    1592093,
           706093,     570093,     506093,     763093,    2627093,
           816093,    4472093,     618000,     943093,     560000,
           969000,     635093,     152093,     617093,     541000,
           403000,     846093,     455093,     222093,    1040093,
           480000,     451999,     491093,    1722093,    2727093,
          1912093,     684093,    1220093,    2177093,    1612093,
          7027093,     700000,    1095093,    1826093,     387000,
           652000,     346000,     317093,    1801093,    1100093,
           355000,     618093,     675000,     679000,     522093,
           674093,     272093,     666000,     742000,     894093,
           385000,     416093,     466000,     213093,     676093,
           407000,     809093,     501000,     319000,     463093,
          1622093,    1084093,     582000,    1344000,    1693093,
           810000,     461000,    3902093,    3802093,    2225093,
           712000,     636000,     472000,    3326093,     655000,
           853999,     865093,    2572093,     484000,     365093,
          1326093,     543000,     571093,    1392093,    1515093,
           966093,    1971093,     400000,     519000,    1546093,
           566093,     766000,     553093,    3221093,    1926093,
          1572093,     654000,    3522093,    1802093,    2902093,
          2302093,    1577093,    3052093,    4302093,    4477093,
          1027000,     684000,     924000,    1045000,     462000,
           651093,    1422093,    1450093,    4426093,     479000,
           776000,    1617093,     525000,     540000,     321000,
           430999,    1467093,    5302093,    3827093,     955000,
          1047093,     524000,     848093,     626093,     455999,
          1325093,     362093,    1136093,     471000,     933000,
           397000,     926093,     380000,     794000,     972093,
          1632093,    1197093,    9527093,    2222093,     447000,
           430000,     531000,     674000,     901000,     698000,
          1376093,    4127093,    2217093,     642093,     603000,
           724000,    1045093,     849000,     681093,     337093,
           433093,    1111093,     486000,    1409093,     990000,
          3602093,     971000,     468000,     876093,    5777093,
           890000,     309000,     375093,    2452093,     444093,
           591000,     669000,     516000,    1676093])

In [86]:
df['Actual_Price'].isnull().sum()

np.int64(0)

In [87]:
df.iloc[:, 11:].head()

,Mileage_(km/l),Engine_Capacity,Maximum_Power,Torque,Wheel_Size,Battery_Type,Kilometers_Driven,Number_of_Owners,Original_Equipment_Manufacturer,Car_Model,Model_Year,Central_Variant_ID,Variant_Name,Listed_Price,Actual_Price,city
0,23,998,67.04bhp,90Nm,16,Hatchback,120000,3,Maruti,Maruti Celerio,2015,3979,VXI,400000,427093,bangalore
1,17,1497,121.31bhp,150Nm,16,SUV,32706,2,Ford,Ford Ecosport,2018,6087,1.5 Petrol Titanium BSIV,811000,838093,bangalore
2,24,1199,84bhp,114Nm,14,Hatchback,11949,1,Tata,Tata Tiago,2018,2983,1.2 Revotron XZ,585000,612093,bangalore
3,19,1197,81.86bhp,113.75Nm,14,Sedan,17794,1,Hyundai,Hyundai Xcent,2014,1867,1.2 Kappa S Option,462000,489093,bangalore
4,24,1248,88.5bhp,200Nm,16,SUV,60000,1,Maruti,Maruti SX4 S Cross,2015,4277,DDiS 200 Zeta,790000,817093,bangalore

In [88]:
df.isna().sum()

Insurance_Validity_Period            0
Fuel_Type                            0
Number_of_Seats                      0
Regional_Transport_Office            0
Transmission_Type                    0
Top_Features                         0
Comfort_and_Convenience             13
Interior_Features                   16
Exterior_Features                   20
Safety_Features                     21
Entertainment_and_Communication    135
Mileage_(km/l)                       0
Engine_Capacity                      0
Maximum_Power                       15
Torque                              15
Wheel_Size                           0
Battery_Type                         0
Kilometers_Driven                    0
Number_of_Owners                     0
Original_Equipment_Manufacturer      0
Car_Model                            0
Model_Year                           0
Central_Variant_ID                   0
Variant_Name                         0
Listed_Price                         0
Actual_Price                         0
city                                 0
dtype: int64

In [89]:
df['Engine_Capacity'].isnull().sum()

np.int64(0)

In [90]:
df[df['Engine_Capacity'].isnull()]

Empty DataFrame
Columns: [Insurance_Validity_Period, Fuel_Type, Number_of_Seats, Regional_Transport_Office, Transmission_Type, Top_Features, Comfort_and_Convenience, Interior_Features, Exterior_Features, Safety_Features, Entertainment_and_Communication, Mileage_(km/l), Engine_Capacity, Maximum_Power, Torque, Wheel_Size, Battery_Type, Kilometers_Driven, Number_of_Owners, Original_Equipment_Manufacturer, Car_Model, Model_Year, Central_Variant_ID, Variant_Name, Listed_Price, Actual_Price, city]
Index: []

[0 rows x 27 columns]

In [91]:
df['Maximum_Power'].unique()

array(['67.04bhp', '121.31bhp', '84bhp', '81.86bhp', '88.5bhp', '170bhp',
       '67bhp', '118.35bhp', '103.25bhp', '83.1bhp', '88.7bhp',
       '83.83bhp', '140bhp', '187.74bhp', '88.76bhp', '117.3bhp', '177 ',
       '88.50bhp', '104.55bhp', '453.26bhp', '68bhp', '62.1bhp',
       '194.4bhp', '174.33bhp', '167.67bhp', '103bhp', '194bhp',
       '248.08bhp', '171 PS ', '108.5bhp', '81.83bhp', '88.73bhp',
       '147.5bhp', '47.33bhp', '120bhp', '189.08bhp', '138.08bhp',
       '281.61bhp', '46.3bhp', '254.8bhp', '241.4bhp', '83 PS ',
       '65.71bhp', '103.52bhp', '120.69bhp', '126.2bhp', '74bhp',
       '188bhp', '178bhp', '85.80bhp', '118.36bhp', '116.3bhp',
       '103.6bhp', '108.6bhp', '70bhp', '82.85bhp', '77bhp', '68.05bhp',
       '190bhp', '141bhp', '86.8bhp', '81.80bhp', '67.1bhp', '71.01bhp',
       '55.2bhp', '103.2bhp', '105.5bhp', '167.68bhp', '156.9bhp',
       '121.3bhp', '138.12bhp', '147.94bhp', '170 ', '160.77bhp',
       '138.1bhp', '78.9bhp', '102.57bhp', '174.3bhp',
       '80 PS at 5200 rpm', '197bhp', '113.42bhp', '82bhp', '258bhp',
       '181bhp', '182.46bhp', '174.5bhp', '108.45bhp', '117.6bhp',
       '103.5bhp', '158.8bhp', '121.36bhp', '88.8bhp', '160.92bhp',
       '130.1bhp', '194.3bhp', '254.79bhp', '100.5bhp', '83.8bhp',
       '110.4bhp', '90 PS ', '98.6bhp', '184bhp', '98.96bhp', '203bhp',
       '87.2bhp', '100.6bhp', '91.1bhp', '70 ', '261.50bhp', '115 ',
       '187.7bhp', '108.62bhp', '143bhp', '113.98bhp', '215 ',
       '108.49bhp', '93.7bhp', '67.05bhp', '167.62bhp', '85.8bhp',
       '115bhp', '94 PS ', '73.9bhp', '83.14bhp', '120.7bhp', '197.2bhp',
       '106', '177.46bhp', '112bhp', '218 ', '152.87bhp', '75.10bhp',
       '168.5bhp', '102', '105.94bhp', '153.866bhp', '98.63bhp',
       '113.45bhp', '187.40bhp', '98.59bhp', '113.18bhp', '102.53bhp',
       '80 ', '117.60bhp', '163.2', '65bhp', '73.94bhp', '120.33bhp',
       '94.93bhp', '67.06bhp', '126.32bhp', '153.86bhp', '261.49bhp',
       '83.81bhp', '119.35bhp', '177bhp', '104.5bhp', nan, '84.82bhp',
       '203.2bhp', '103.26bhp', '113.43bhp', '160bhp', '150bhp', '136bhp',
       '187.4bhp', '25.4bhp', '41.42bhp', '70.02bhp', '35 bhp ',
       '138.03bhp', '86.83bhp', '141.04bhp', '86.76bhp', '69bhp',
       '163.7bhp', '71bhp', '163.60bhp', '127bhp', '100 bhp ', '88.2',
       '61 PS ', '74.02bhp', '89.84bhp', '171.5bhp', '147.9bhp',
       '164.7bhp', '145hp', '100bhp', '79.4bhp', '52.8bhp', '72.41bhp',
       '174.33', '182.38bhp', '103.2 PS at 5500 RPM', '60 PS ', '148bhp',
       '71.02bhp', '88 PS ', '78 ', '136.78bhp', '92',
       '112bhp at 3800 rpm', '116.4bhp', '63bhp', '177.6bhp', '115.05bhp',
       '167.6bhp', '47.3bhp', '61.68bhp', '86.63bhp', '85.7bhp',
       '246.74bhp', '62bhp', '118.41bhp', '72.4bhp', '335.25bhp', '75',
       '73.75bhp', '40bhp', '93 PS ', '80.46bhp', '35 bhp', '147.8bhp',
       '161.6 ', '68', '101 ', '126.3bhp', '157.75bhp', '75.09bhp',
       '75bhp', '112.2 ', '101.65bhp', '110bhp', '204bhp', '53.64bhp',
       '138.05bhp', '260.0 ', '73.8bhp', '37.5bhp', '72bhp', '110.5bhp',
       '118PS at 6,600 rpm', '130bhp', '121bhp', '70', '379.7bhp',
       '70 bhp at 4000 rpm', '120 ', '86.7bhp', '53.26bhp', '84.8bhp',
       '94 ', '126.24bhp', '68 ', '384.87bhp', '48.21bhp', '201.1bhp',
       '57 ', '123.24bhp', '138bhp', '172.35bhp', '105bhp', '173bhp',
       '84bhp3750rpm', '200bhp', '177.5bhp', '94.68bhp', '147.51bhp',
       '245bhp', '99.23bhp', '158.79bhp', '197.26bhp', '118.3bhp',
       '296bhp', '40.36bhp', '91.7bhp', '241.38bhp', '78 kW ', '104.68'],
      dtype=object)

In [92]:
df['Maximum_Power'].str.extract(r'([A-Za-z]+)', expand=False).unique()

array(['bhp', nan, 'PS', 'hp', 'kW'], dtype=object)

In [93]:
def convert_to_bhp(value):
    value = str(value).strip()
    
    # Extract numeric value
    numeric_value = re.sub(r'[^\d.]+', '', value)
    
    # Conversion factors
    ps_to_bhp = 0.986
    kw_to_bhp = 1.341
    
    if 'PS' in value:
        return float(numeric_value) * ps_to_bhp
    elif 'kW' in value:
        return float(numeric_value) * kw_to_bhp
    elif 'bhp' in value:
        return float(numeric_value)
    else:
        try:
            return float(numeric_value)  # Default case for numeric values with no unit
        except ValueError:
            return np.nan  # Return NaN for any unrecognized format

In [94]:
 #Apply the conversion function to the 'Maximum_Power' column
df['Maximum_Power'] = df['Maximum_Power'].apply(convert_to_bhp)

In [95]:
df['Maximum_Power'] = df['Maximum_Power'].fillna(df['Maximum_Power'].mean())

In [96]:
df['Maximum_Power']=df['Maximum_Power'].fillna(0)

In [97]:
df['Maximum_Power'].isnull().sum()

np.int64(0)

In [98]:
df.isna().sum()

Insurance_Validity_Period            0
Fuel_Type                            0
Number_of_Seats                      0
Regional_Transport_Office            0
Transmission_Type                    0
Top_Features                         0
Comfort_and_Convenience             13
Interior_Features                   16
Exterior_Features                   20
Safety_Features                     21
Entertainment_and_Communication    135
Mileage_(km/l)                       0
Engine_Capacity                      0
Maximum_Power                        0
Torque                              15
Wheel_Size                           0
Battery_Type                         0
Kilometers_Driven                    0
Number_of_Owners                     0
Original_Equipment_Manufacturer      0
Car_Model                            0
Model_Year                           0
Central_Variant_ID                   0
Variant_Name                         0
Listed_Price                         0
Actual_Price                         0
city                                 0
dtype: int64

In [99]:
df['Torque'].isnull().sum()

np.int64(15)

In [100]:
df['Torque'] = df['Torque'].str.replace('Nm','',regex = False).str.strip().str.replace('nm','',regex = False).str.strip()

In [101]:
df['Torque'].dtype

dtype('O')

In [102]:
df['Torque'] = pd.to_numeric(df['Torque'], errors='coerce')

In [103]:
df['Torque'] = df['Torque'].fillna(df['Torque'].mean())

In [104]:
df['Torque'].dtype

dtype('float64')

In [105]:
df['Torque'].isnull().sum()

np.int64(0)

In [132]:
df.isna().sum()

Insurance_Validity_Period          0
Fuel_Type                          0
Number_of_Seats                    0
Regional_Transport_Office          0
Transmission_Type                  0
Top_Features                       0
Comfort_and_Convenience            0
Interior_Features                  0
Exterior_Features                  0
Safety_Features                    0
Entertainment_and_Communication    0
Mileage_(km/l)                     0
Engine_Capacity                    0
Maximum_Power                      0
Torque                             0
Wheel_Size                         0
Battery_Type                       0
Kilometers_Driven                  0
Number_of_Owners                   0
Original_Equipment_Manufacturer    0
Car_Model                          0
Model_Year                         0
Central_Variant_ID                 0
Variant_Name                       0
Listed_Price                       0
Actual_Price                       0
city                               0
dtype: int64

In [122]:
df['Entertainment_and_Communication'].value_counts(sort=True)

Entertainment_and_Communication
['Cd Player', 'Radio', 'Speakers Front', 'Speakers Rear']                                                                                                                                         108
['Cd Player', 'Radio', 'Speakers Front', 'Speakers Rear', 'Integrated2Din Audio', 'Usb Auxiliary Input', 'Bluetooth']                                                                             104
['Cd Player', 'Radio', 'Speakers Front', 'Speakers Rear', 'Integrated2Din Audio', 'Usb Auxiliary Input', 'Bluetooth', 'Touch Screen', 'Number Of Speaker']                                         83
['Cd Player', 'Radio', 'Speakers Front', 'Speakers Rear', 'Integrated2Din Audio', 'Usb Auxiliary Input', 'Bluetooth', 'Number Of Speaker']                                                         65
['Radio', 'Speakers Front', 'Speakers Rear', 'Integrated2Din Audio', 'Usb Auxiliary Input', 'Bluetooth', 'Touch Screen', 'Number Of Speaker']                                                      60
                                                                                                                                                                                                 ...
['Integrated2Din Audio', 'Usb Auxiliary Input', 'Bluetooth', 'Touch Screen']                                                                                                                        1
['Speakers Front', 'Speakers Rear', 'Usb Auxiliary Input', 'Bluetooth', 'Touch Screen', 'Number Of Speaker', 'Touch Screen Size', 'Apple Car Play', 'Android Auto', 'Wireless Phone Charging']      1
['Cd Player', 'Dvd Player', 'Radio', 'Audio System Remote Control', 'Speakers Front', 'Speakers Rear', 'Integrated2Din Audio', 'Usb Auxiliary Input', 'Bluetooth']                                  1
['Cd Player', 'Radio', 'Audio System Remote Control', 'Speakers Front', 'Speakers Rear', 'Integrated2Din Audio', 'Usb Auxiliary Input']                                                             1
['Cd Player', 'Radio', 'Speakers Front', 'Speakers Rear', 'Number Of Speaker']                                                                                                                      1
Name: count, Length: 162, dtype: int64

In [123]:
df['Entertainment_and_Communication'] = df['Entertainment_and_Communication'].fillna(df['Entertainment_and_Communication'].value_counts()[0])

C:\Users\Green Gen Tech\AppData\Local\Temp\ipykernel_1040\1800411979.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['Entertainment_and_Communication'] = df['Entertainment_and_Communication'].fillna(df['Entertainment_and_Communication'].value_counts()[0])

In [125]:
columns_to_encode = ['Comfort_and_Convenience', 'Interior_Features', 'Exterior_Features', 'Safety_Features', 'Entertainment_and_Communication']

In [126]:
df_encoded = pd.get_dummies(df, columns=columns_to_encode)

In [133]:
df.to_excel('preprocessed_bangalore_cars.xlsx', index=False)